<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Basic Login - Signup</title>
    </head>
    <body>
        <h1>Sign Up</h1>
        <form id="TrustShift-SignupForm">
            <input
                type="text"
                id="TrustShift-SignupFormUsername"
                name="username"
                required
                placeholder="Choose a username"
            />
            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>
